@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Home Page</h1>
    </section>

    <div class="row">
        
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script>
    const loginSuccess = '@TempData["loginSuccess"]';
    if (loginSuccess) {
        Swal.fire({
            icon: "success",
            title: "Success",
            text: loginSuccess
        });
    }
    const isPermission = '@TempData["Error"]';
    if (isPermission) {
        Swal.fire({
            icon: "error",
            title: "No Permission",
            text: isPermission
        });
    }
</script>