<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="AssignmentEntities2" connectionString="metadata=res://*/UserContext.csdl|res://*/UserContext.ssdl|res://*/UserContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.237;initial catalog=Assignment;persist security info=True;user id=sa;password=Eiv@2022;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>